.course-cover{
    width:90%;
    margin:100px auto auto auto;
     position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
}
.course-title,.course-stats,.course-description{
    position: absolute; 
    padding: 5px; 
    font-size: 1.5em;
    z-index: 1; 
}
.course-title{
    left: 10px; 
    top: 10px; 
}
.course-stats{
    right:10px;
    bottom:10px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.course-description{
    left:10px;
    bottom:10px;
    font-size:1em !important;
}

.enroll-button {
    height: fit-content;
    
}

