.course-details{
    width: 90%;
    margin: 100px auto;
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.course-title,.course-stats,.course-description{
    position: absolute; 
    padding: 5px; 
    font-size: 1.5em;
    z-index: 1; 
}
.course-title{
    left: 10px; 
    top: 10px; 
}
.course-stats{
    user-select: none;
    right:10px;
    bottom:10px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.course-description{
    left:10px;
    bottom:10px;
    font-size:1em !important;
}
.details-header{
    position: relative;
}
.enroll-button-courseDetails {
    height: fit-content;
    background: transparent;
    padding: 0 5px;
    border: none;
}
.enroll-button-courseDetails:hover {
    text-decoration: underline !important;
}
.course-material{
    width:100%;
}
.course-material{
    height: fit-content !important;
}
.add-material{
    top: 30px;
    right: 57px;
}
.add-material-button-container{
    width: 90%;
}
.stats-button {
    cursor: pointer;
}
.stats-button:hover{
    color:#1330BE ;
}

.goBackBtn {
    position: absolute;
    top: 0;
    left: 57px;
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    border: none;
    background: #d8d7d1;
}

.goBackBtn > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.goBackBtn:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.goBackBtn:hover {
    background: #fb8928;
    transform: translateY(-2px);
}