.course-details{
    width:90%;
    margin:50px auto 50px auto;
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.course-title,.course-stats,.course-description{
    position: absolute; 
    padding: 5px; 
    font-size: 1.5em;
    z-index: 1; 
}
.course-title{
    left: 10px; 
    top: 10px; 
}
.course-stats{
    right:10px;
    bottom:10px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.course-description{
    left:10px;
    bottom:10px;
    font-size:1em !important;
}
.details-header{
    position: relative;
}
.enroll-button-courseDetails {
    height: fit-content;
    background: transparent;
    padding: 0 5px;
    border: none;
}
.enroll-button-courseDetails:hover {
    text-decoration: underline !important;
}
.course-material{
    width:100%;
}
.course-material{
    height: fit-content !important;
}
.add-material{
    top: 10px;
}
.add-material-button-container{
    width: 90%;
}