.deadlines-container {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #fb8928;
  color: white;
  border: 3px solid chocolate;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.tab-button.active {
  background-color: #1d96a7; 
}

.tab-button:hover {
  background-color: #202e61;
}

.deadlines-table {
  margin: auto;
  width: 80%;
}

/*   Switch Button   */
.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0;
  width: 260px;
  overflow: hidden;
  height: 60px;
  background-color: #fb8928;
  border-radius: 26px;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px 0 rgba(17, 17, 17, 0.34) inset;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  width: max-content;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: white;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  cursor: pointer;
  width: max-content;
  height: 45px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: center;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0 0 6 -2 #111;
  padding: 10px;
  color: #222;
  font-weight: 600;
  align-items: center;
}

.btn-color-mode-switch input[type="checkbox"] {
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background-color: #fb8928;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 162px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}
/* End Switch Button */