.fa-solid {
  color: #616161;
}
.ButtonContainer{
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}
.AddButton {
  position: absolute;
  color: black;
  border: solid #ededed;
  border-radius: 20px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.AddButton:hover {
  color: #3f51b5;
}

.NoCourses {
  font-size: 35px;
  color: #616161;
  margin-top: 2rem;
}

.cards {
  /*background: #dbdbb2;*/
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

