div h2,
.edit-exam-title {
  background-color: #fb8928;
  padding: 10px;
}

.edit-exam-title > button,
.edit-exam-title > input {
  width: fit-content;
  height: fit-content;
  font-size: 24px;
  background-color: #fb8928;
  border: none;
}

.exam-question {
  background-color: rgb(196, 205, 217);
}

.edit-question-info > button {
  height: 29px;
  padding: 0px 10px;
}
