.home-container {
background-image:url("../../assets/home2.jpg") ;
height:100vh;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
position: relative;
}

.icon-group {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px;
    left: 320px;

}

