.home-container {
    background-image:url("../../assets/home2.webp");
    background-attachment: fixed;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
