.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
 padding: 10px 20px;
  background-color:  #dbdbb2;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}