h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    box-sizing: border-box;
}

.profile-picture,
.profile-details {
    flex: 1;
    margin: 0 20px;
}

.profile-picture {
    border-radius: 5%;
    width: 20%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.profile-picture p {
    margin-top: 10px;
    font-weight: 500;
    color: white;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.image-upload {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
}

.image-upload input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    background-color: inherit;
    color: white;
    border: 1px solid #FAFAEE;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    transition: 0.3s;
}

.custom-file-upload:hover {
    background-color: #FAFAEE;
    color: black;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.file-name {
    margin-left: 10px;
    font-size: 14px;
}

.profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-data-container {
    border-radius: 5%;
    width: 120%;
    color: white;
    margin-left: 12px;
    height: 270px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    margin-left: 5px;
}

.user-data label {
    font-weight: bold;
    margin-left: 5px;
}

.user-data input {
    margin-top: 5px;
    width: 94%;
}

.data-input {
    flex-grow: 1;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    width: 40%;
    transition: all 0.3s ease-in-out;
}

.data-input.read-only {
    border: none;
    background-color: inherit;
    pointer-events: none;
    cursor: default;
    color: white;
    transition: all 0.3s ease-in-out;
}

.data-input.read-only:focus {
    outline: none;
}

.button-group {
    margin-top: 20px;
}

.button-group .edit {
    font-weight: 600;
    width: 80px;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.button-group .edit:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button-group .change-password {
    font-weight: 600;
    margin-left: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.button-group .change-password:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        width: 80%;
        max-width: 274px;
        margin-right: 34px;
    }

    .profile-details {
        margin-top: 5px;
        font-size: 16px;
        width: 100%;
    }

    .user-data-container {
        width: 90%;
        padding: 15px;
    }

    .button-group {
        flex-direction: column;
        margin-top: 32px;
    }

    .button-group .edit,
    .button-group .change-password {
        width: 100%;
        margin: 10px 0;
    }
}