@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  /*background-color:#f7f5ed;*/ /* ELL BACKGROUND DAH 3AMEL HIDE 3ALA KOLL ELL TAGS */
}
.body-container{
background-color: #fAFAEE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Font Size */
h1{
  font-size:2.5em;
}
h2{
  font-size:2em;
}
h3{
  font-size:1.75em;
}
h4{
  font-size:1.5em;
}
h5{
  font-size:1.25em;
}
h6{
  font-size:1em;
}
/* Font Weight */
.noBold-text {
  font-weight: 200 !important;
}

.semiBold-text {
  font-weight: 400 !important;
}

.bold-text {
  font-weight: 600 !important;
}

.extraBold-text {
  font-weight: 800 !important;
}

/* Font Color */
.blue-text {
  color: #1330BE !important;
}

.green-text {
  color: #274546 !important;
}

.light-text {
  color: #f7f5ed !important;
}
.orange-text{
  color:#fb8928 !important;
}
/* Text Alignment */
.alignRight-text {
  text-align: right !important;
}

.alignJustify-text {
  text-align: justify !important;
}

.alignCenter-text {
  text-align: center !important;
}

/* Text Case */
.lowerCase-text {
  text-transform: lowercase !important;
}

.pascalCase-text {
  text-transform: capitalize !important;
}

.upperCase-text {
  text-transform: uppercase !important;
}
/* Background Color */
.orange-bg{
  background-color: #fb8928  !important;
}
.blue-bg{
  background-color: #1330BE !important;
}
.green-bg{
  background-color: #274546 !important;
}
.dark-bg{
  background-color: black !important;
}

.Toastify__close-button {
  margin: auto;
}

