.header {
  width: 100%;
  padding: 20px 40px;
}


.logo {
    user-select: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fb8928;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}


.navbar {
    /*padding: 10px 30px !important;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #274546;
    padding: 20px 40px !important;
    border-radius: 30px;
}


.icon-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon-button {
    background-color: #f1f1f1;
    color: #000000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

@media (max-width: 850px) {
    .courses-buttons-container {
        margin-top: 1rem;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
  .icon-group {
    display: none;
  }
}

@media (max-width: 450px) {
    .navbar {
        padding: 10px 30px !important;
    }
    .logo {
        font-size: 18px;
    }
}
