.icon-group {
    background: #d76b5a;
    padding: 20px 40px;
    border-radius: 40px;
    display: flex;
    gap: 50px;
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}