.header {
  width: 100%;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  z-index: 100;
}


.logo {
    user-select: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fb8928;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #b7b5b582;
    padding: 20px 40px !important;
    border-radius: 30px;
}


.icon-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icon-button {
    background-color: rgba(255, 255, 255, 0.2);
    color: #000000;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.icon-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Responsive Design */
@media (max-width: 768px) {
  .icon-group {
    display: none;
  }
}
