.card{
  width:250px;
}
.card-header{
  height:150px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.card-header>img{
width:200px;
margin:auto;
}
.course-icons{
  display: flex;
  justify-content: right;
  width:100%;
  z-index: 9;
  padding-right: 10px;
  position:absolute;
}
.edit-icon{
  margin-right: 15px;
}
.card-bottom{
  display: flex;
  justify-content: space-between;
  padding-right:10px;
}
.course-details{
  background-color: transparent;
  border:none;
  text-decoration: underline;
}
.enroll-button{
  background-color: transparent;
  border:none;
}
.cardButton-container{
  display: flex;
  justify-content: left;
  width:100%;
  z-index: 9;
  padding-left: 10px;
  position:absolute;
}
